		<article>
			<div id="text" id="dondecontent">
			
				<h3>Donde</h3>
			
				<div id="dondedireccion">Dirección: Av. Alameda del Corregidor 1531, Urb. Los Sirius, Las Viñas, La Molina, Lima 12.</div>
			
				<div class="maintext">
                  <iframe width="80%" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?q=USMP,+FACULTAD+DE+MEDICINA+HUMANA&amp;hl=es&amp;sll=-0.808872,-68.291016&amp;sspn=68.681205,79.013672&amp;hq=USMP,+FACULTAD+DE+MEDICINA+HUMANA&amp;t=m&amp;ie=UTF8&amp;hnear=&amp;ll=-12.096796,-76.950061&amp;spn=0.00469,0.004823&amp;output=embed"></iframe>
					<p><br />
				    <small><a href="https://maps.google.com/maps?q=USMP,+FACULTAD+DE+MEDICINA+HUMANA&amp;hl=es&amp;sll=-0.878872,-68.291016&amp;sspn=68.681205,79.013672&amp;hq=USMP,+FACULTAD+DE+MEDICINA+HUMANA&amp;t=m&amp;ie=UTF8&amp;hnear=&amp;ll=-12.097796,-76.950061&amp;spn=0.004369,0.004823&amp;source=embed" style="color:#0000FF;text-align:left; text-align:center; display:block; font-size:12pt;" target="_blank" rel="nofollow">Ver mapa más grande</a></small></p>
					<p>&nbsp;
				        </p>
				</div>
         </div>
           	
       <div id="text" id="dondecontent"><br />

		<h3>Ambientes</h3>
			
				<div>
				  <div align="center"><p>Auditorio Principal</p></div>
				    <div id="dondeleft"><img src="include/images/auditorio1.jpg" width="280" height="166" />     </div>
                    <div id="donderight"><img src="include/images/auditorio2.jpg" width="280" height="166" /></div>
</p>
			
                
            
            </div>
            	
             </div>   
                
		</article>	