<style type="text/css">
<!--
.Estilo1 {font-size: 12px}
-->
</style>
<article>
			<div class="textspeakers">

				<h3>Momentos Top</h3>
				<table width="819" border="1">
                  <tr>
                    <td width="32"><b>1</strong></td>
                    <td width="771"><b>#DevFestLima trending topic en twitter<br />
                    </strong></td>
                  </tr>
                  <tr>
                    <td colspan="2"><div align="center">
                      <p><a href="include/images/fotos/tt.png" target="_blank"><img src="include/images/fotos/tt.png" width="866" height="320" /><br />
                        <span class="Estilo1">Click para ampliar</span></a><span class="Estilo1"></span></p>
                      <p>&nbsp;</p>
                    </div></td>
                  </tr>
                </table>
				<br />
		    <table width="819" border="1">
                  <tr>
                    <td width="32"><b>2</b></td>
                    <td width="771"><b>Lleno total del auditorio<br />
                    </strong></td>
                </tr>
                  <tr>
                    <td colspan="2"><div align="center">
                      <p><a href="include/images/fotos/panomarico.jpg" target="_blank"><img src="include/images/fotos/panomarico.jpg" width="703" height="244" /><span class="Estilo1">Click para ampliar</span></a><span class="Estilo1"></span></p>
                      <p><a href="include/images/fotos/nick.jpg"><img src="include/images/fotos/nick.jpg" width="584" height="436" /><span class="Estilo1">Click para ampliar</span></a><span class="Estilo1"></span></p>
                    </div></td>
                  </tr>
                </table>
				<p></p>
<table width="819" border="1">
                  <tr>
                    <td width="32"><b>3</b></td>
                    <td width="771"><b>#Android , La Mascota del evento </b><br /></td>
                  </tr>
                  <tr>
                    <td colspan="2"><div align="center">
                        <table width="200" border="1">
                          <tr>
                            <td><div align="center"><a href="include/images/fotos/Android.jpg" target="_blank"><img src="include/images/fotos/Android.jpg" width="447" height="334" /><br />
                                  <span class="Estilo1">Click para ampliar</span></a></div></td>
                            <td><div align="center"><a href="include/images/fotos/android2.jpg" target="_blank"><img src="include/images/fotos/android2.jpg" width="419" height="385" /><br />
                                <span class="Estilo1">Click para ampliar</span></a></div></td>
                            <td>&nbsp;</td>
                          </tr>
                        </table>
                      <p>&nbsp;</p>
                        </div></td>
                  </tr>
                </table>
				<p>&nbsp;</p>
<table width="819" border="1">
                  <tr>
                    <td width="32"><b>4</b></td>
                    <td width="771"><b>#Nuestros invitados desde Argentina, Brasil y Guatemala</b><br /></td>
                  </tr>
                  <tr>
                    <td colspan="2"><div align="center">
                        <table width="200" border="1">
                          <tr>
                            <td><div align="center">
                              <p><a href="include/images/fotos/neto.jpg" target="_blank"><img src="include/images/fotos/neto.jpg" width="671" height="413" /><span class="Estilo1">Click para ampliar</span></a></p>
                              <p>&nbsp;</p>
                            </div></td>
                          </tr>
                          <tr>
                            <td><div align="center">
                              <p><a href="include/images/fotos/pablo.jpg" target="_blank"><img src="include/images/fotos/pablo.jpg" width="581" height="346" /><span class="Estilo1">Click para ampliar</span></a></p>
                              <p>&nbsp;</p>
                              <p><a href="include/images/fotos/cristian.jpg" target="_blank"><img src="include/images/fotos/cristian.jpg" width="590" height="344" /><span class="Estilo1">Click para ampliar</span></a></p>
                              </div></td>
                          </tr>
                        </table>
                      </div></td>
                  </tr>
                </table>
				<p>&nbsp;</p>
				<div class="maintext"><div class="speakers"><div class="mainspeaker"></div>

						<div class="mainspeaker"><div class="r"></div>

									<div class="clear"></div>
					  </div>
							</div>
			  </div>
  </div>

					<p>&nbsp;</p>
					<div class="textspeakers">
                      <h3>+Entrevistas</h3>
                      <table width="819" border="1">
                        <tr>
                          <td width="32">&nbsp;</td>
                          <td width="771"><b>30 segundos de fama en el #devfestlima </b><br /></td>
                        </tr>
                        <tr>
                          <td colspan="2"><table width="200" border="1">
                            <tr>
                              <td><img src="include/images/fotos/entrevistas/1.jpg" width="280" height="140" /></td>
                              <td>&nbsp;</td>
                              <td><img src="include/images/fotos/entrevistas/mqdefault (1).jpg" width="280" height="140" /></td>
                              <td>&nbsp;</td>
                              <td><img src="include/images/fotos/entrevistas/mqdefault (4).jpg" width="280" height="140" /></td>
                            </tr>
                            <tr>
                              <td><img src="include/images/fotos/entrevistas/mqdefault (2).jpg" width="280" height="140" /></td>
                              <td>&nbsp;</td>
                              <td><img src="include/images/fotos/entrevistas/mqdefault (3).jpg" width="280" height="140" /></td>
                              <td>&nbsp;</td>
                              <td><img src="include/images/fotos/entrevistas/mqdefault (5).jpg" width="280" height="140" /></td>
                            </tr>
                            <tr>
                              <td><img src="include/images/fotos/entrevistas/mqdefault (6).jpg" width="280" height="140" /></td>
                              <td>&nbsp;</td>
                              <td><img src="include/images/fotos/entrevistas/mqdefault (7).jpg" width="280" height="140" /></td>
                              <td>&nbsp;</td>
                              <td><img src="include/images/fotos/entrevistas/mqdefault.jpg" width="280" height="140" /></td>
                            </tr>
                          </table></td>
                        </tr>
                        <tr>
                          <td colspan="2"><div align="center"><a href="http://www.youtube.com/channel/UCqS-AqYm-HTbRnWNxnUN4BQ" target="_blank"><img src="include/images/fotos/youtube.png" width="50" height="55" /> Ver Videos</a></div></td>
                        </tr>
                        <tr>
                          <td colspan="2">&nbsp;</td>
                        </tr>
                      </table>
                      <p>&nbsp;</p>
                      <div class="maintext"><div class="speakers"><div class="mainspeaker"><div class="r"></div>
                          </div>
                          <div class="clear"></div>
                          <div class="mainspeaker">
                            <div class="l"></div>
                          </div>
                        </div>
				      </div>
  </div>
					<p>&nbsp;</p>
					<p><br>		
                    </p>
<div class="textspeakers">

										<h3>+Album de Fotos</h3>
										<p align="center"><a href="https://plus.google.com/u/0/events/c9s85o1a3pgt0fg8il5h6c21e7c" target="_blank"><img src="include/images/fotos/todos.jpg" width="783" height="491" align="middle" /></a><br />
										  <a href="https://plus.google.com/u/0/events/c9s85o1a3pgt0fg8il5h6c21e7c" target="_blank">Ver Album</a></p>
										<div class="maintext">

											<div class="speakers">

												<div class="mainspeaker">

												  <div class="l"><span>
													  <div class="cargospeakers"></div>
													  </span></div>

													<div class="clear"></div>
											  </div>

													<div class="mainspeaker"></div>
										  </div>
	</div>
  </div>
													
<div class="textspeakers"><div class="maintext"><div class="speakers"><div class="mainspeaker"></div>
								<!-- Termina Speakers-->
								
							</div>
						</div>
  </div>

												</article>
