<style type="text/css">
<!--
.Estilo1 {font-size: 12px}
-->
</style>
		<article>
			<div id="text">
			
				<h3>Registrate</h3>
			
				<div class="maintext">
				<div style="width:100%; text-align:left;" ><iframe  src="https://www.eventbrite.com/tickets-external?eid=4458816440&ref=etckt" frameborder="0" height="192" width="100%" vspace="0" hspace="0" marginheight="5" marginwidth="5" scrolling="auto" allowtransparency="true"></iframe><div style="font-family:Helvetica, Arial; font-size:10px; padding:5px 0 5px; margin:2px; width:100%; text-align:left;" ><br />
				  <h3>Recomendaciones para el evento </h3>
                  <div id="preguntasfrec"> <p> Estimados asistentes. Los invitamos a revisar el documento &quot; <a href="https://docs.google.com/document/d/1KU0iDoaEdwX07B2tgDgoDqU9AL5_WUtf9a7PHHMIOFg/edit" target="_blank">Recomendaciones generales para el evento</a>&quot; con la finalidad de tener las consideraciones necesarias para su ingreso, acceso a las sesiones, aspectos generales y el proceso para solicitar el certificado de participación.   </div>               
                  <p class="Estilo1"> También <b>QUEREMOS AGRADECER</b> todo el inter&eacute;s demostrado para participar de un evento de tal magnitud. Esperamos que su experiencia sea una de las mejores y puedan aprovechar todos los temas y conocimientos que se podr&aacute;n difundir.                 
                   <p class="Estilo1">Atentamente: Organizaci&oacute;n del GDG DevFest Lima 
		          </div>
				</div>
				</div>
		</article>	