
			<div class="left">
				<article>
					<div id="text">
						<div class="maintext">
<p>
El +DevFestLima es el evento más importante de tecnología Google organizado por 
los GDGs (<a href="https://developers.google.com/groups/" target="_blank">Google Developer Groups</a>) a nivel mundial.
</p>

<p>
El evento se centra en difundir tecnología Google mediante conferencias, talleres 
y workshops orientados a modelos en Cloud, Mobile y Web,  para profesionales de TI.
</p>

<p>
Será la primera vez que Perú sea sede de este majestuoso evento, 
<b>donde se presentarán representantes oficiales del departamento de 
relación con desarrolladores de Google para Latinoamérica.</b>
</p>

<p>
Más información acerca de los devfests en el mundo, puede acceder en <a href="http://devfest.info" target="_blank">devfest.info</a>
</p>
						</div>
					</div>
				</article>		
			</div>
			
			<div class="right">
				<div id="devfestcont">
				<iframe width="410" height="330" src="http://www.youtube.com/embed/6FqYwhzhI_c" frameborder="0" allowfullscreen></iframe>
				<div id="qr_content">
					<div class="a">
						<img src="include/images/chart.png" title="QR Code" alt="QR Code"/>
					</div>
					<div class="b">
						<img src="include/images/android_qr.png" title="Android QR Code" alt="Android QR Code" />
					</div>
					<div class="clear"></div>
				</div>				
				</div>
			</div>
			
			<div class="clear"></div>	