<style type="text/css">
<!--
.Estilo2 {font-weight: bold}
.Estilo7 {font-size: 18px}
-->
</style>
		<article>
			<div class="textspeakers">
			
				<h3>Materiales</h3>
				<p>&nbsp;</p>
				<div class="maintext">
                  <h3 class = "fechaprograma">S&aacute;bado 27 de Octubre </h3>
				  <table class="table_programa" border="1">
                    <tr>
                      <td colspan="4" class="hour"><div align="center">
                        <p>Introduction, conferencia GDG Lima and Google DevRel</p>
                        <p><a href="https://docs.google.com/presentation/d/1evRqriakvw0C3kpckcQ4L9EuqpZ2CabASR_tR5PBDUI/edit" target="_blank"><img src="include/images/presentacion.png" width="50" height="60" />  Ver Presentaci&oacute;n</a></p>
                      </div></td>
                    </tr>
                    <tr>
                      <td colspan="4" class="hour"><div align="center">
                        <p>Google DevRel LatAm South Region Conference</p>
                        <p><img src="include/images/presentacion.png" width="50" height="60" />                        Pr&oacute;ximamente</p>
                      </div></td>
                    </tr>
                    <tr>
                      <td width="202" style="background-color:#00b050;color:white;">Jugando con Android<br/>
                          <br/>
                        Auditorio principal</td>
                      <td width="246" style="background-color:#e42c2c;color:white;">Paseando por Web<br/>
                          <br/>
                        Aula 1</td>
                      <td width="225" style="background-color:#066eb6;color:white;">Volando en Cloud<br/>
                          <br/>
                        Aula 2</td>
                      <td width="193" style="background-color:#ffc000;color:white;">Call4papers<br/>
                          <br/>
                        Aula 3</td>
                    </tr>
                    <tr>
                      <td class="hour"><img src="include/images/programa/android.png" height="50" width="auto" /></td>
                      <td class="hour"><img src="include/images/programa/html5.png" height="50" width="auto" /></td>
                      <td class="hour"><img src="include/images/programa/gae.png" height="50" width="auto" /> </td>
                      <td class="hour"><img src="include/images/notas01.png" height="50" width="78" /> </td>
                    </tr>
                    <!--<tr>
    <td class="hour"><span class="Estilo2">11:00 a 12:00</span></td>
    <td width="157"><h4 class="Estilo2">Mobile</h4>
        <span class="Estilo2"><img src="include/images/programa/android.png" height="80" width="auto" /> Auditorio principal </span> </td>
    <td width="175"><h4 class="Estilo2">Web</h4>
        <span class="Estilo2"><img src="include/images/programa/html5.png" height="80" width="auto" /> Aula 1</span> </td>
    <td width="205"><h4 class="Estilo2">Cloud</h4>
        <span class="Estilo2"><img src="include/images/programa/gae.png" height="80" width="auto" /> Aula 2</span> </td>
    <td width="90"><h4 class="Estilo2">Call4papers</h4>
        <span class="Estilo2"><img src="include/images/notas01.jpg" height="78" width="78" /> Aula 3 </span> </td>
  </tr>-->
                    <tr>
                      <td class="android-talk"><span><b>AppClinic: Revisando los principios b&aacute;sicos de  las aplicaciones Android.</b><br />
                            <br />
                      </span><a href="https://docs.google.com/presentation/d/1GGKMXjy5FYhvdjwrXrxfL_SaPaCrDeZebilUSV7BiQs/present" target="_blank"><img src="include/images/presentacion.png" width="50" height="60" />Ver presentaci&oacute;n</a><br /></td>
                      <td class="web-talk"><p><span><b>HTML5: De donde venimos y a donde vamos</b><br />
                                <br />
                          </span><a href="https://docs.google.com/presentation/d/1_zLUZEQXBm5uHzRn8Fpuv41byira36VywYd0OPLroxQ/present" target="_blank"><img src="include/images/presentacion.png" width="50" height="60" />Ver presentaci&oacute;n</a><br />
                      </p></td>
                      <td class="cloud-talk"><span><b>Apps Script: Automatizaci&oacute;n de procesos en la  nube de Google</b><br />
                            <br />
                      </span><a href="https://docs.google.com/presentation/d/1olU1UAvRhMnJNkkK1eSbjPKOw0bIr5QL_lGVLjvy4PM/present" target="_blank"><img src="include/images/presentacion.png" width="50" height="60" />Ver presentaci&oacute;n</a><br /></td>
                      <td class="call-talk"><span><b>Google Maps Colaborativo en Desastres Naturales</b><br />
                            <br />
                      </span><a href="https://docs.google.com/presentation/d/11VSSdD-tcKiRA32Kl6Ps4mRHoOon1kldc6yCYQbwQ8k/present" target="_blank"><img src="include/images/presentacion.png" width="50" height="60" />Ver Presentaci&oacute;n</a><br /></td>
                    </tr>
                    <tr>
                      <td class="android-talk">&nbsp;</td>
                      <td class="web-talk">&nbsp;</td>
                      <td class="cloud-talk">&nbsp;</td>
                      <td class="call-talk">&nbsp;</td>
                    </tr>
                    <tr>
                      <td class="android-talk"><p align="center"><b>Pasos para crear juegos para Android<br />
                        </b> </p>
                          <p><a href="https://docs.google.com/presentation/d/1TCX1VwEjqIxoDEyksW75c47oM_T_MSrgtMJfYHA6UBY/present" target="_blank"><img src="include/images/presentacion.png" width="50" height="60" />Ver presentaci&oacute;n</a></p></td>
                      <td class="web-talk"><span><b>Html5 Desarrollo Interactivo con el canvas  EaselJS</b><br />
                            <br />
                          <a href="https://docs.google.com/presentation/d/1dXeF16kd9Zu0RYrKfX4i-O8r6WDL9hAIG6KLNE2P-C0/present" target="_blank"><img src="include/images/presentacion.png" width="50" height="60" />Ver presentaci&oacute;n</a></span></td>
                      <td class="cloud-talk"><span><b>Mi primera app con Google App Engine y Gwt</b><br />
                            <br />
                          <a href="https://docs.google.com/presentation/d/1WPGU67GFFTBQbYU1wRpS6Nal-N9oGVG2T530k9UufN0/present" target="_blank"><img src="include/images/presentacion.png" width="50" height="60" />Ver presentaci&oacute;n</a></span></td>
                      <td class="call-talk"><span><b>Android y la computación f&iacute;sica</b><br />
                            <br />
                          <a href="https://docs.google.com/presentation/d/1L9m1bH_r8pvllSRU9cr4Kkn_w3Yi-Fd7uOy_C6sb3bw/present" target="_blank"><img src="include/images/presentacion.png" width="50" height="60" />Ver Presentaci&oacute;n</a></span> </td>
                    </tr>
                    <tr>
                      <td class="android-talk"><span><b>Desarrollo de Juegos y aplicaciones  Interactivas con Adobe AIR para Android</b><br />
                            <br />
                            <br />
                          <a href="https://docs.google.com/presentation/d/1QkplljUfRZ738vQxWOebeEMjlwvD_YnoKEQ-AP_iekk/present" target="_blank"><img src="include/images/presentacion.png" width="50" height="60" />Ver presentaci&oacute;n</a></span></td>
                      <td class="web-talk"><p><span><b>Dart: Una vista al lenguaje de Google </b><br />
                                <br />
                          </span><br />
                      <a href="https://docs.google.com/presentation/d/1PoUCpxoi99o-h-97h7S-pFHOn4Vdzm2NkgX-Dji5sv4/present" target="_blank"><img src="include/images/presentacion.png" width="50" height="60" />Ver presentaci&oacute;n</a></p></td>
                      <td class="cloud-talk"><p align="center"><b>¿Por qu&eacute; las chicas, si somos lindas e inteligentes no participamos de  comunidades tecnol&oacute;gicas? -  GDG Lima  Girls</b></p>
                          <span><br />
                          <br />
                        <a href="https://docs.google.com/presentation/d/10rwlZ_6UUs7sB70Nf0g-HKLTkg4gOvbIgBzusvV31Dc/present" target="_blank"><img src="include/images/presentacion.png" width="50" height="60" />Ver presentaci&oacute;n</a></span></td>
                      <td class="call-talk"><span><b>Codeando un juego con HTML5</b><br />
                            <br />
                          <a href="https://docs.google.com/presentation/d/1Ys8jWG41-qRpUP7pR87VzlntSu7uU5LpAVuuhkMEddI/present" target="_blank"><img src="include/images/presentacion.png" width="50" height="60" />Ver Presentaci&oacute;n</a></span> </td>
                    </tr>
                    <tr>
                      <td class="android-talk"><span><b>Usando NFC(Near Field Communication) en  android</b><br />
                            <br />
                          <a href="https://docs.google.com/presentation/d/1x_Y2L1T_I9mpIkE2s8ziyZsn0_qmBaPPl41U-Ig_BVc/present" target="_blank"><img src="include/images/presentacion.png" width="50" height="60" />Ver presentaci&oacute;n</a></span></td>
                      <td class="web-talk"><span><b>An&aacute;lisis del API de  Google Maps y los modelos de negocio que se pueden generar</b><br />
                            <br />
                          <a href="https://docs.google.com/presentation/d/1AL0qVhYojKDqHc2ZU8Ks_DRLCKphbspsflqeQV8nUBU/present" target="_blank"><img src="include/images/presentacion.png" width="50" height="60" />Ver presentaci&oacute;n</a></span></td>
                      <td class="cloud-talk"><span><b>Mi primer proyecto con GoogleSites y Apps  Script</b><br />
                            <br />
                            <br />
                          <a href="https://docs.google.com/presentation/d/1LCRHhevsSE1uJJB9KPmIOVsXF_iOfiki-LcbId9C1lY/present" target="_blank"><img src="include/images/presentacion.png" width="50" height="60" />Ver presentaci&oacute;n</a></span></td>
                      <td class="call-talk"><span><b>Automatizaci&oacute;n de control de horas con Apps Script.</b><br />
                            <br />
                      </span> </td>
                    </tr>
                    <tr>
                      <td class="android-talk"><span><b>Aplicaciones accesibles con Android</b><br />
                            <br />
                          <a href="https://docs.google.com/presentation/d/1rXvZzyPESGnoLZF7WlmFPrGRlHW6FsRdXFURHozh7W0/present" target="_blank"><img src="include/images/presentacion.png" width="50" height="60" />Ver presentaci&oacute;n</a></span></td>
                      <td class="web-talk"><span><b>Las novedades de Youtube  API<br />
                              <br />
                      </b><img src="include/images/presentacion.png" width="50" height="60" />Pr&oacute;ximamente</span></td>
                      <td class="cloud-talk"><span><b>Google Cloud Endpoints/Messaging -  AppEngine y Android (Servicios Restfull para aplicaciones Android)</b><br />
                            <br />
                          <a href="https://docs.google.com/presentation/d/1AfXG21BkVBihYWCs3ewBP58SctQygRMGlkwLjQ_0z54/present" target="_blank"><img src="include/images/presentacion.png" width="50" height="60" />Ver presentaci&oacute;n</a></span></td>
                      <td class="call-talk"><span><b>Vaadin un framework web basado en GWT</b><br />
                            <br />
                          <a href="https://docs.google.com/presentation/d/1gP1HFvsDRY9ymrl6N6GevbnDUpgDMeW0Ivi_rEZfkQk/present" target="_blank"><img src="include/images/presentacion.png" width="50" height="60" />Ver Presentaci&oacute;n</a></span> </td>
                    </tr>
                  </table>
				  <p class = "fechaprograma">&nbsp;</p>
				  <h3 class = "fechaprograma">Domingo 28 de Octubre<br />
				  </h3>
				  <table class="table_programa" border="1">
                    <tr>
                      <td width="214" style="background-color:#00b050;color:white;">Jugando con Android<br/>
                          <br/>
                        Auditorio principal</td>
                      <td width="238" style="background-color:#e42c2c;color:white;">Paseando por Web<br/>
                          <br/>
                        Aula 1</td>
                      <td width="218" style="background-color:#066eb6;color:white;">Volando en Cloud<br/>
                          <br/>
                        Aula 2</td>
                      <td width="196" style="background-color:#ffc000;color:white;">Volando en Cloud<br/>
                          <br/>
                        Aula 3</td>
                    </tr>
                    <tr>
                      <td class="hour"><img src="include/images/programa/android.png" height="50" width="auto" /> </td>
                      <td class="hour"><img src="include/images/programa/html5.png" height="50" width="auto" /> </td>
                      <td class="hour"><img src="include/images/programa/gae.png" height="50" width="auto" /> </td>
                      <td class="hour"><img src="include/images/programa/gae.png" height="50" width="auto" /> </td>
                    </tr>
                    <!--<tr>
    <td class="hour"><span class="Estilo2">11:00 a 12:00</span></td>
    <td width="157"><h4 class="Estilo2">Mobile</h4>
        <span class="Estilo2"><img src="include/images/programa/android.png" height="80" width="auto" /> Auditorio principal </span> </td>
    <td width="175"><h4 class="Estilo2">Web</h4>
        <span class="Estilo2"><img src="include/images/programa/html5.png" height="80" width="auto" /> Aula 1</span> </td>
    <td width="155"><h4 class="Estilo2">Cloud</h4>
        <span class="Estilo2"><img src="include/images/programa/gae.png" height="80" width="auto" /> Aula 2</span> </td>
    <td width="140"><h4 class="Estilo2">Cloud</h4>
        <span class="Estilo2"><img src="include/images/programa/gae.png" height="80" width="auto" /> Aula 3 </span></td>
  </tr>-->
                    <tr>
                      <td class="Estilo2 android-talk"><p align="center"><b>Workshop:   Introducci&oacute;n al desarrollo  multiplataforma con PhoneGap y jQueryMobile</b><br />
                              <br />
                        +Adri&aacute;n Catal&aacute;n<br />
                        GDG Guatemala<br />
                        Guatemal</p>
                          <p align="center"><a href="http://www.slideshare.net/ykro/devfest-lima2012" target="_blank"><img src="include/images/presentacion.png" width="50" height="60" />Ver presentaci&oacute;n</a></p></td>
                      <td class="Estilo2 web-talk"><p align="center"><b>Workshop: File System API e Indexed DB con HTML5</b><b><br />
                                <br />
                          </b>+Cristian Rinaldi<br />
                        ADTG UTN Santa F&eacute; Argentina</p>
                          <p align="center"><img src="include/images/presentacion.png" width="50" height="60" />Pr&oacute;ximamente</p></td>
                      <td class="Estilo2 cloud-talk"><p align="center"><b>Workshop: Mi primer programa en Dart, pero no el ultimo</b><br />
                              <br />
                        +Pablo Moyano<br />
                        GDG Buenos Aires<br />
                        Argentina</p>
                          <p align="center"><img src="include/images/presentacion.png" width="50" height="60" />Pr&oacute;ximamente</p></td>
                      <td class="call-talk Estilo2"><p align="center"><b>Workshop: Prediction API<br />
                                <br />
                          </b>+Mat&iacute;as Molinas<br />
                        GDG Santa Fe<br />
                        Argentina</p>
                          <p align="center"><span class="call-talk"><a href="https://docs.google.com/file/d/0Bw3cQPbRhsunaWc2N3ZsR3pBcTQ/edit" target="_blank"><img src="include/images/presentacion.png" width="50" height="60" /></a></span><a href="https://docs.google.com/file/d/0Bw3cQPbRhsunaWc2N3ZsR3pBcTQ/edit">Ver Presentaci&oacute;n</a></p></td>
                    </tr>
                    <tr>
                      <td colspan="4" class="Estilo2 hour title"><div align="center" class="Estilo2"><span class="red bold">Innovation @ Google<br />
                          </span><span class="blue big-font">+Nicol&aacute;s  Bortolotti<br /></span>
                          <img src="include/images/presentacion.png" width="50" height="60" /><span class="Estilo7">Pr&oacute;ximamente</span></div></td>
                    </tr>
                    <tr>
                      <td colspan="4" class="Estilo2 hour title"><div align="center" class="">Business Model Canvas<br />
                          <span class="blue big-font">+Mart&iacute;n Vivas</span><br />
                        <img src="include/images/presentacion.png" width="50" height="60" /> Pr&oacute;ximamente</div></td>
                    </tr>
                    <tr>
                      <td colspan="4">&nbsp;</td>
                    </tr>
                  </table>
				  <p class = "fechaprograma">&nbsp;</p>
			  </div>
				<p>&nbsp;</p>
				<div class="maintext"><div class="speakers"><div class="mainspeaker"><div class="l"><span></span></div>
							
						  </div>
						
						<div class="mainspeaker"><div class="l">
						  <div class="gplus">
<!-- Place this code where you want the badge to render. -->
</div>
						  </div>
							
						  <div class="r"></div>
							
						  <div class="clear"></div>
				  </div>
					
					</div>
				
				</div>
			</div>
            
					<div class="textspeakers">
			
				<h3>&nbsp;</h3>
				<h3>+Realiza tus preguntas</h3>
				<p>Si el tiempo fue corto y tuviste muchas dudas con respecto a los temas presentados, te invitamos a realizar las preguntas utilizando nuestro moderator del evento.</p>
				<p>&nbsp;</p>
				<div class="maintext">
				
				  <div class="speakers">
					
						<div class="mainspeaker">
						
							<div class="l"></div>
							
						  <div class="r"></div>
						  <div class="clear">
                          <div id="moderator-embed-target"></div>
                          <p>
                            <script type="text/javascript">
	var mod = new MODERATOR(unescape("http://www.google.com/moderator/#16/e\u003D203fef"));
	mod.width = 912;
	mod.height = 900;
	mod.hl = "es"; 
	mod.ui = "COMPACT";
	mod.embed("moderator-embed-target");
  </script>
                          </p>
                          <p><br />
                                                    </p>
						  </div>
						</div>
						
						<div class="mainspeaker"><div class="r"></div>
						  <br />
						  <div class="clear"></div>
						</div>
						
				  </div>
				</div>
			</div>
			<br>
			